<section class="section-our-products">
  <div class="container">
    <h2 class="section-our-products-title">Our products</h2>
    <ul class="section-our-products-list">
      <li class="section-our-products-list-item">
        <img
          class="section-our-products-img"
          src="/src/img/img_our_products/product1.jpg"
          alt="White dressing table in the white room"
          width="312"
          height="300"
        />
        <h3 class="section-our-products-list-title">
          Minimalist storage solutions
        </h3>
      </li>
      <li class="section-our-products-list-item">
        <img
          class="section-our-products-img"
          src="/src/img/img_our_products/product2.jpg"
          alt="Blue sofa on wooden legs in a gray room"
          width="312"
          height="300"
        />
        <h3 class="section-our-products-list-title">
          Handcrafted minimalist seating
        </h3>
      </li>
      <li class="section-our-products-list-item">
        <img
          class="section-our-products-img"
          src="/src/img/img_our_products/product3.jpg"
          alt="Marble table with golden legs"
          width="312"
          height="300"
        />
        <h3 class="section-our-products-list-title">Sleek and simple tables</h3>
      </li>
      <li class="section-our-products-list-item">
        <img
          class="section-our-products-img"
          src="/src/img/img_our_products/product4.jpg"
          alt="A high blue chair on wooden legs in a gray room"
          width="312"
          height="300"
        />
        <h3 class="section-our-products-list-title">
          Minimalist seating for every space
        </h3>
      </li>
    </ul>
  </div>
</section>
